body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    width: 100%;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {                    /* щоб прибрати 4 px знизу картинки */
    display: block;
}

a {
text-decoration: none;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.body-back {
    background-color: #FFFFFF;
}

/*-------------- HEADER------------------ */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-logo {
    width: 115px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 149px;
    padding: 17px 0;
    display: flex;
}

.nav-logo-studio {
    color: #2e2f42;
}

.menu-btn {
    width: 24px;
    height: 24px;
    position: relative;
    background-color: #e7e9fc;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #2f2f37;
}

.nav-list {
    display: none;
}

.contacts-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.nav-contacs {
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-items {
    display: none;
}

/*-------------- Mobile------------------ */

.mobile-menu {
    background: #fff;
    padding: 72px 16px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mobile-menu-btn {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.social-media-icons{
    width: 40px;
    height: 40px;
}

.mobile-menu-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #2e2f42;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: auto;
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-studio {
    color: #404bbf;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-tel {
    color: #4d5ae5;
}

.mobile-menu-social-icon {
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-left: 0;
}

/*-------------- HERO------------------ */

.section-title {
    background-color: rgba(46, 47, 66, 0.4);
    background-image: linear-gradient( 
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    )
    ,
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 320px;
    margin: auto;
}

@media (max-width: 767px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mobile-2x-min.jpg);
    }
}

.title {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: auto;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
}

.title-button:hover,
.title-button:focus {
    background-color: #404BBF
}

.title-button {
    font-weight: 500;
    font-size: 16px;
    margin-top: 48px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------- DEFENITIONS hidden------------------ */

.text-definitions-two {
    padding-top: 96px;
    padding-bottom: 96px;
}

.defenition-section {

    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.defenitions-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}

.defenitions-list-item {
width: 100%;
}

.def-back {
    padding: 24px 100px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.def-back-svg {
    
}

.text-definitions-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text-definitions-parag {
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-------------- OUR TEAM------------------ */

.section-taem {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #f4f4fd;
}

.team-container {
    width: 296px;
}

.section-taem-third {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-team-hum {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}

.list-team-one {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
    width: 100%;
}

.check-info {
    padding: 32px 0;
}

.list-team-photo {
    background-color: #FFFFFF;
    margin: auto ;
    width: 264px;
}

.section-taem-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-taem-about {
    /* font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
    margin: 8px; */

        text-align: center;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon-icon {
    fill: #f4f4fd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;;
} */

/*-------------- OUR PORTFOLIO------------------ */

.section-portfolio-third {
    padding-top: 96px;
    padding-bottom: 96px;
}

.title-portfolio-third {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 48px;
}

.section-portfolio-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-portfolio-paragraph {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item {
    width: 100%;
    margin: 0 auto;
}

.our-portfolio-images {
    width: 100%;
}



.sellers-cover-wrap {
    position: relative;
    overflow: hidden;
}

.sellers-cover-wrap:hover .sellers-cover-text {
    transform: translateY(0);
}

.sellers-cover-text {
    font-weight: 400;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-info {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

/*-------------- FOOTER------------------ */

.footer-back {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.logo-parag{
    display: flex;
    flex-direction: column;
}

.icon-list-footer{
    gap: 16px;
    display: flex;
    justify-content: center;
}

.nav-logo-footer {
    display: inline-block;
    margin-bottom: 17.5px;
    width: 116px;
    align-self: center;
    margin-right: 0;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4d5ae5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: flex;
    }

.nav-studio-footer {
    color: #f4f4fd;
}

.text-bellow {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
}

.nav-media{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    }

.media-icons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

/* .footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
} */

.icon-list-footer{
    width: 208px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-right: auto;
    margin-left: auto;
}

.icon-item {
    height: 40px;
    width: 40px;
}

.social-media-icon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subscribe {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.subscribe-form-label {
    gap: 28px;
}

.footer-input-email {
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: none;
    opacity: 0.3;
}

.footer-input-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
}

.footer-input-email:focus-within {
    border-color: #4d5ae5;
}

.footer-button-subscribe {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

/* .footer-button-subscribe:hover,
.footer-button-subscribe:focus {
    background-color: #404BBF;
} */

.button-icons {
    margin-left: 16px;
    fill: #ffffff;
}

/*-------------- MODAL------------------ */

.backdrop {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open-btn {
    align-self: flex-end;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: #404bbf;
    border: none;
} */

/* button:hover > svg,
button:focus > svg {
    fill: #ffffff;
} */

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
    width: 256px;
}

.modal-field {
    margin-bottom: 8px;

}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    position: relative;
    display: block;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-field-icon {
    fill: #4d5ae5;
}



.modal-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-area {
    margin-bottom: 16px;
}

.modal-text {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus-within {
    border-color: #4D5AE5;
}

.modal-field-check {
    margin-bottom: 24px;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.check-icon-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    position: relative;
    margin-right: 8px;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text>.check-icon-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.check-icon-text {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-btn-end {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    border: none;
}

/* .modal-btn-end:hover,
.modal-btn-end:focus {
    background-color: #404BBF;
} */

/*-------------- Tablet------------------ */

@media screen and (min-width: 768px) {

    .mobile-menu,
    .menu-btn {
        display: none;
    }

    .container {
        max-width: 768px;
    }

    /*Tablet Header*/

    .nav-logo {
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
    }

    .contacts-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
    }

    .nav-contacs {
        font-weight: 500;
        line-height: 1.5;
        color: #2e2f42;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        display: block;
        content: "";
        position: absolute;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        border: 2px solid #404bbf;
        background-color: #404bbf;
        bottom: -1px;
    }

    .address-items {
        display: inline;
        font-style: normal;
        margin-left: auto;
    }

    .address-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 12px;
    }

    .nav-contacs-item {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
    }

    /*Tablet Main title*/

    .section-title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tablet-1x-min.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tablet-2x-min.jpg);
        }
    }

    .title {
        font-size: 56px;
        line-height: 1.07;
        width: auto;
        max-width: 496px;
        margin-bottom: 48px;
    }

    .title-button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /*Tablet Advantages*/

    .text-definitions-two {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .defenitions-list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
    }

    .defenitions-list-item {
        width: calc((100% - 24px) / 2);
    }

    .text-definitions-title {
        text-align: left;
    }

    /*Tablet Our Team*/

    .section-taem {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .team-container {
        width: 584px;
    }

    .list-team-hum {
        justify-content: flex-start;
        flex-direction: row;
        row-gap: 64px;
        column-gap: 24px;
        flex-wrap: wrap;
    }

    .list-team-one {
        width: calc((100% - 24px) / 2);
    }

    .list-team-photo {
        margin: 0 auto;
    }

    .icon-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /*Tablet Our Portfolio*/

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-info {
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
    }

    /*Tablet Footer*/

    .footer-back {
        background-color: #2e2f42;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .nav-media {
        width: 584px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-soc-container {
        display: flex;
        margin-left: 0;
        }

    .nav-logo-footer {
        margin-bottom: 16px;
        align-self: start;
    }

    .text-bellow {
        width: 264px;
    }

    .media-icons {
        text-align: left;
        margin-top: 0;
    }

    .icon-list-footer {
        margin-left: 0;
    }

    .footer-subscribe {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .subscribe {
        align-self: start;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-input-email {
        width: 264px;
        height: 40px;
        padding-left: 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-button-subscribe {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /*Tablet Modal Overlay*/

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-open-btn {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form {
        width: 360px;
    }

    .modal-input:focus-within {
        border-color: #4d5ae5;
    }

    .modal-input:focus-within+.modal-field-icon {
        fill: #4d5ae5;
    }

    .check-icon-span {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-btn-end {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*Desktop*/

@media screen and (min-width: 1158px) {
    .mobile-menu {
        display: none;
    }

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    /*Desktop Header*/

    .header-content {
        display: flex;
        justify-content: center;
    }

    .nav-logo {
        margin-right: 76px;
    }

    .menu-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        margin-right: auto;
        align-items: center;
    }

    .contacts-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
        margin-right: 332px;
    }

    .nav-contacs {
        font-weight: 500;
        position: relative;
        line-height: 1.5;
        color: #2e2f42;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;
    }

    .nav-contacs.current {
        color: #404bbf;
    }

    .nav-contacs:active {
        color: #404bbf;
    }

    .nav-contacs:hover {
        color: #404bbf;
    }

    .nav-contacs:focus {
        color: #404bbf;
    }

    .nav-contacs.current::after {
        border-radius: 2px;
        width: 48px;
        height: 4px;
        background: #404bbf;
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    .address-items {
        display: inline;
        font-style: normal;
    }

    .address-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
    }

    .nav-contacs-item {
        line-height: 1.5;
        font-weight: 400;
        font-size: 16px;
        color: #434455;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-contacs-item:hover {
        color: #404bbf;
    }

    .nav-contacs-item:focus {
        color: #404bbf;
    }

    /*Desktop Main title*/

    .section-title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-desktop-1x.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-desktop-2x-min.jpg);
        }
    }

    .title {
        font-size: 56px;
        line-height: 1.07;
        width: auto;
        max-width: 496px;
        margin-bottom: 48px;
    }

    .title-button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .title-button:hover {
        background-color: #404bbf;
    }

    .title-button:focus {
        background-color: #404bbf;
    }

    /*Desktop Advantages*/

    .text-definitions-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .defenitions-list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
    }

    .defenitions-list-item {
        margin: 0;
        width: calc((100% - 72px) / 4);
    }

    .def-back {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 8px;
        align-items: center;
    }

    .text-definitions-title {
        font-weight: 400;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
    }

    .text-definitions-parag {
        font-weight: 400;
    }

    /*Desktop Our team*/

    .team-container {
        width: auto;
    }

    .list-team-hum {
        justify-content: space-between;
        flex-direction: row;
        gap: 24px;
    }

    .list-team-one {
        width: calc((100% - 72px) / 4);
    }

    .list-team-photo {
        margin: 0 auto;
    }

    .icon-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-link:hover,
    .icon-link:focus {
        background-color: #404bbf;
    }

    /*Desktop Our Portfolio*/

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover .our-portfolio-hidden-overlay-text {
        transform: translateY(0);
    }

    /*Desktop Footer*/

    .footer-back {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .nav-media {
        width: 1158px;
        flex-wrap: nowrap;
        }

    .logo-parag {
        margin-right: 120px;
    }

    .nav-logo-footer {
        margin-bottom: 16px;
        align-self: start;
    }

    .text-bellow {
        width: 264px;
    }

    .media-icons {
        text-align: left;
        margin-top: 0;
    }

    .icon-list-footer {
        margin-left: 0;
    }

    .icon-list-footer .social-media-icon:hover,
    .icon-list-footer .social-media-icon:focus {
        background-color: #31d0aa;
    }

    .footer-subscribe {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 80px;
    }

    .subscribe {
        align-self: start;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-input-email {
        width: 264px;
        height: 40px;
        padding-left: 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-button-subscribe {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-button-subscribe:hover,
    .footer-button-subscribe:focus {
        background-color: #404bbf;
    }

    /*Desktop Modal Window*/

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-open-btn {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-open-btn:hover,
    .modal-open-btn:focus {
        background-color: #404bbf;
        border: none;
    }

    .modal-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-open-btn:hover .modal-btn-icon,
    .modal-open-btn:focus .modal-btn-icon {
        fill: #ffffff;
    }

    .modal-form {
        width: 360px;
    }

    .modal-input:focus-within {
        border-color: #4d5ae5;
    }

    .modal-input:focus-within+.modal-field-icon {
        fill: #4d5ae5;
    }

    .check-icon-span {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-btn-end {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-btn-end:hover {
        background-color: #404bbf;
    }
}